<h1>
  {{ id ? 'Editar' : 'Cadastrar' }}
</h1>
<form [formGroup]='formGroupContatos' (submit)="cadastrarContato()">
  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo</label>
    <input
      formControlName="tipo"
      type="number"
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>
  <div class="mb-3">
    <label for="endereco" class="form-label">Contato</label>
    <input
      formControlName="contato"
      type="number"
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>
  

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!formGroupContatos.valid"
  >
    {{ id ? 'Editar' : 'Cadastrar' }}
  </button>
</form>

{{ formGroupContatos.value| json }}
{{ formGroupContatos.valid }}
<!-- {{contatosService.dadosContatos | json}} -->
