<h1>Cadastro e Edição: {{ id }}</h1>
<form [formGroup]='formGroupContatos' (submit)="cadastrarContato()">
  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input
      formControlName="id"
      type="number"
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>
  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo</label>
    <input
      formControlName="tipo"
      type="number"
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>
  <div class="mb-3">
    <label for="endereco" class="form-label">Contato</label>
    <input
      formControlName="contato"
      type="number"
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>
  <div class="mb-3">
    <label for="people" class="form-label">Pessoa</label>
    <input
      formControlName="people"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!formGroupContatos.valid"
  >
    Salvar
  </button>
</form>

{{ formGroupContatos.value| json }}
{{ formGroupContatos.valid }}
{{contatosService.dadosContatos | json}}
